<div class="container" style="width: 83vw; height: 100vh; overflow-y: scroll;">
    <div class="d-flex justify-content-between" *ngIf="total">
        <h1>Total vendido:</h1>
        <h1 class="text-success">{{ total | currency : 'BRL'}}</h1>
    </div>
    <div class="card mt-5" *ngFor="let c of cars$ | async">
        <div class="card-header">
            <h4>{{c.carBrand}}</h4>
        </div>
        <div class="col-12 d-flex">
            <div class="card-body col-2">
                <img *ngIf="c.picture" [src]="c.picture" alt="" width="220px" class="rounded">
            </div>
            <div class="card-body col-9">
                <h5 class="card-title">{{c.name}} {{c.carYear}}</h5>
                <p class="card-text">Cor: {{c.carColor}}</p>
                <p class="card-text">{{c.price | currency: 'BRL'}}</p>
            </div>
        </div>
    </div>
</div>