<div class="container" style="width: 83vw; height: 100vh; overflow-y: scroll;">
    <div class="d-flex justify-content-between">
        <h1>Total vendido:</h1>
        <h1 class="text-success" *ngIf="total">{{ total | currency : 'BRL'}}</h1>
    </div>
    <div class="col-12 justify-content-center d-flex mt-3">
        <div class="col-6">
            <label for="user">Selecione o vendedor</label>
            <select name="user" id="user" class="form-select" [(ngModel)]="userSelected" (change)="get()">
                <option selected disabled class="disabled">Selecione um vendedor</option>
                <option value="all">Todos</option>
                <option *ngFor="let u of user$ | async" value="{{u.id}}">{{u.firstName + ' ' + u.lastName}}</option>
            </select>
        </div>
    </div>
    <div class="card mt-5" *ngFor="let c of cars$ | async">
        <div class="card-header">
            <h4>{{c.carBrand}}</h4>
        </div>
        <div class="col-12 d-flex">
            <div class="card-body col-3">
                <img *ngIf="c.picture" [src]="c.picture" alt="" width="220px" class="rounded">
            </div>
            <div class="card-body col-6">
                <h5 class="card-title">{{c.name}} {{c.carYear}}</h5>
                <p class="card-text">Cor: {{c.carColor}}</p>
                <p class="card-text">{{c.price | currency: 'BRL'}}</p>
            </div>
            <div class="card-body col-3">
                <h4>Cliente</h4>
                <p>{{c.clienteName}}</p>
            </div>
        </div>
    </div>
</div>