<div class="container d-flex justify-content-center align-items-center flex-wrap" style="width: 83vw; height: 100vh; overflow-y: scroll;">
    <div class="card text-center m-3" style="width: 18rem;" *ngFor="let c of cliente$ | async">
        <div class="card-body">
            <h5 class="card-title text-success" *ngIf="c.cliente.isServed">{{c.cliente.fullName}}</h5>
            <h5 class="card-title text-warning" *ngIf="!c.cliente.isServed">{{c.cliente.fullName}}</h5>
            <div class="col-12 d-flex">
                <div class="col-6 border">
                    <h6>CNH</h6>
                    <span>{{c.cliente.cnh}}</span>
                </div>
                <div class="col-6 border">
                    <h6>CPF</h6>
                    <span>{{c.cliente.cpf | mask: '000.000.000-00'}}</span>
                </div>
            </div>
            <div class="col-12 d-flex">
                <div class="col-6 border">
                    <h6>RG</h6>
                    <span>{{c.cliente.rg | mask: '00.000.000-0'}}</span>
                </div>
                <div class="col-6 border">
                    <h6>Whatsapp</h6>
                    <span>{{c.cliente.whatsapp| mask: '(00) 00000-0000'}}</span>
                </div>
            </div>
            <div class="col-12 d-flex">
                <div class="col-12 border">
                    <a routerLink="/cliente/{{c.id}}" class="m-3 btn btn-info">Abrir ficha completa</a>
                </div>
            </div>
        </div>
    </div>
</div>