<div *ngIf="login == true" class="container" style="width: 83vw; height: 100vh;">
    <h1 class="text-center pt-5">Bem vindo</h1>
    <h4 class="text-center">Você pode adiconar um novo carro ou gerenciar os carros já cadastrados para venda</h4>
    <div class="d-flex justify-content-center align-items-center w-100 h-75">
        <a href="/carroadd" class="nav-link m-2">
            <div class="card  text-primary" style="width: 18rem;">
                <div class="d-flex justify-content-center align-items-center p-5"><i class="fa-solid fa-plus"
                        style="font-size: 4rem;"></i></div>
                <div class="card-body">
                    <h3 class="card-text text-center">Adicionar Carro</h3>
                </div>
            </div>
        </a>
        <a href="/gerenciar" class="nav-link m-2">
            <div class="card  text-primary" style="width: 18rem;">
                <div class="d-flex justify-content-center align-items-center p-5"><i class="fa-solid fa-car-side"
                        style="font-size: 4rem;"></i></div>
                <div class="card-body">
                    <h3 class="card-text text-center">Gerenciar</h3>
                </div>
            </div>
        </a>
        <a href="/cadastrar" class="nav-link m-2">
            <div class="card  text-primary" style="width: 18rem;">
                <div class="d-flex justify-content-center align-items-center p-5"><i class="fa-solid fa-user-plus"
                        style="font-size: 4rem;"></i></div>
                <div class="card-body">
                    <h3 class="card-text text-center">Cadastrar Vendedor</h3>
                </div>
            </div>
        </a>
        <a href="/allusers" class="nav-link m-2">
            <div class="card  text-primary" style="width: 18rem;">
                <div class="d-flex justify-content-center align-items-center p-5 pb-3"><i class="fa-solid fa-user"
                        style="font-size: 4rem;"></i></div>
                <div class="card-body">
                    <h3 class="card-text text-center">Gerenciar vendedores</h3>
                </div>
            </div>
        </a>
    </div>
</div>
<div *ngIf="login == false" class="container d-flex justify-content-center align-items-center" style="width: 83vw; height: 100vh;">
    <div>
        <h1 class="text-center pt-5">Bem vindo</h1>
    <h4 class="text-center">Faça login para continuar</h4>
    </div>
</div>